body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    background: #BBBBBB;
    padding: 20px 0;       
}
.caixa{
    position:relative;
    width:940px;
    margin:0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right:0;
}
nav li{
    display:inline;
    margin: 0 0 0 15px;

}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
#banner{
    width: 50%;
}
.principal{
    background:white;
    padding: 30px;
}
.titulo-principal {
    padding-left: 20px;
}
.titulo-centralizado {
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
}
p {
    text-align: center;
}
#missao {
    font-size: 32px;
    padding: 20px;
}
em strong {
    color: red;
}
.itens {
    font-style: italic;
}
.beneficios {
    background: white;
}
ul2 {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagembeneficios {
    width: 50%;
}
footer{
    text-align: center;
    color: white;
    background: url("bg.jpg");
    padding: 40px 0;
}
.copyright{
    color:#FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}
main{
    width: 940px;
    margin: 0 auto;
}